<div class="wrap">
  <div class="row">
    <div class="col-sm-5" style="margin-top: 3%; margin-left: auto; margin-right: auto; border-radius: 5px; box-shadow: 2px 2px 2px 2px lightgrey;">
      <app-alert-view></app-alert-view>
    </div>
    <div class="col-sm-5" style="margin-top: 3%; margin-left: auto; margin-right: auto; border-radius: 5px; box-shadow: 2px 2px 2px 2px lightgrey;">
      <app-notifications></app-notifications>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5" style="margin-top: 3%; margin-left: auto; margin-right: auto; border-radius: 5px; box-shadow: 2px 2px 2px 2px lightgrey;">Account Summary</div>
    <div class="col-sm-5" style="margin-top: 3%; margin-left: auto; margin-right: auto; border-radius: 5px; box-shadow: 2px 2px 2px 2px lightgrey;">
      <div class="dashTransactions"><app-transactions-view></app-transactions-view></div>
    </div>
  </div>
</div>







<!--<table width="100%" cellpadding="10">-->
<!--  <tr>-->
<!--    <td width="50%" valign="top">-->
<!--      <div id="transactions">-->
<!--        <app-transaction></app-transaction>-->
<!--      </div>-->
<!--    </td>-->
<!--    <td rowspan="2">-->
<!--      <div id="account">-->
<!--        <h2>Account Balance</h2>-->
<!--        $12,145.89-->
<!--      </div>-->


<!--      <app-piechart></app-piechart>-->


<!--      <div id="spending">-->
<!--        <app-spending></app-spending>-->
<!--      </div>-->
<!--    </td>-->

<!--  </tr>-->
<!--  <tr>-->
<!--    <td valign="top">-->

<!--      <div id="notifications">-->

<!--        &lt;!&ndash;<app-set-notifications></app-set-notifications>&ndash;&gt;-->
<!--        <app-notifications></app-notifications>-->
<!--      </div>-->
<!--    </td>-->

<!--  </tr>-->
<!--</table>-->
