.ncontainer {
  margin-top: 10px;
}

.notifs {
  margin-bottom: 5px;
  margin-left: 50px;
}

.notifShopping {
  background-color: #FFB300;
  padding: 5px;
  border: 2px solid #FFB300;
}

.textShopping {
  width: 570px;
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
  border: 2px solid #FFB300;
}

.notifState {
  background-color: #007AA3;
  padding: 5px;
  border: 2px solid #007AA3;
}

.textState {
  width: 580px;
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
  border: 2px solid #007AA3;
}

.notifTime {
  background-color: #4FA800;
  padding: 5px;
  border: 2px solid #4FA800;

}

.textTime {
  width: 580px;
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
  border: 2px solid #4FA800;
}

.icon {

  color: #ffffff;

}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
