<div class="ncontainer">
  <h2>Notifications</h2>
<div class="notifs">
  <table>
    <tr>
      <td class="notifShopping"><mat-icon class="icon">priority_high</mat-icon></td>
      <td class="textShopping">You have a notification for an <b>ELECTRONICS</b> transaction.</td>
    </tr>
  </table>
</div>

<div class="notifs">
  <table>
    <tr>
      <td class="notifState"><mat-icon class="icon">priority_high</mat-icon></td>
      <td class="textState">You have a notification for an <b>OUT-OF-STATE</b> transaction.</td>
    </tr>
  </table>
</div>

<div class="notifs">
  <table>
    <tr>
      <td class="notifTime"><mat-icon class="icon">priority_high</mat-icon></td>
      <td class="textTime">You have a notification for a <b>2 A.M.</b> transaction.</td>
    </tr>
  </table>
</div>
</div>
