<h2 mat-dialog-title>{{title}}</h2>

<div>
  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput
           [value]="email"
           required
           email>
    <button mat-icon-button
            matSuffix
            aria-label="Clear"
            (click)="email = ''"
            *ngIf="email">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

</div>

<div class="button-row">
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Send Email</button>
</div>
