mat-form-field {
  width: 100%;

}

.container {
  display: inline-block;
  width: 50%;
  margin: auto;
}

h2 {
  margin-bottom: 0;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
