<h2 mat-dialog-title>Add Transaction</h2>
<mat-divider></mat-divider>

  <form [formGroup]="form" (ngSubmit)="save(form.value)">
    <div class="container">
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="container">
    <mat-form-field appearance="standard">
      <mat-label>Amount</mat-label>
      <span matPrefix>$&nbsp;</span>
      <input matInput required formControlName="amount" type="number">
    </mat-form-field>
    </div>

    <div class="container">
    <mat-form-field appearance="standard">
      <mat-label>Type</mat-label>
      <mat-select formControlName="cr" required>
        <mat-option value="CR">Credit</mat-option>
        <mat-option value="DR">Debit</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <div class="container">
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <input matInput required formControlName="description">
    </mat-form-field>
    </div>
  </form>

<div class="button-row">
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save(form.value)">Add</button>
</div>

