.ncontainer {
  width: 100%;
  height: 80%;
  overflow: auto;
  margin-top: -20px;
}

.notifs {
  width: 100%;
  margin-top: 10px;

}

.notifShopping {
  vertical-align: top;
  display: inline-block;
  height: 35px;
  width: 10%;
  background-color: #FFB300;
  padding: 5px;
  box-shadow: 2px 2px 2px lightgrey;
}

.textShopping {
  vertical-align: top;
  display: inline-block;
  height: 35px;
  width: 90%;
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
  border: 2px solid #ffffff;
  box-shadow: 2px 2px 2px lightgrey;
}

.notifState {
  background-color: #007AA3;
  padding: 5px;
  border: 2px solid #007AA3;
}

.textState {
  width: 580px;
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
  border: 2px solid #007AA3;
}

.notifTime {
  background-color: #4FA800;
  padding: 5px;
  border: 2px solid #4FA800;

}

.textTime {
  width: 580px;
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
  border: 2px solid #4FA800;
}

.icon {
  color: #ffffff;
  font-size: 20px;
  vertical-align: middle;
  horiz-align: center;

}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
