@import '~src/styles.scss';

.example-spacer {
  flex: 1 1 auto;
}

nav {
  background: $primary;

  ul li a {
    width: auto;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}


mat-toolbar { width: 100%; }
