<div class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h2 class="mb-1 "><span style="font-weight: bold">Amount:</span> ${{transaction.amount}}</h2>
    <small>{{getDate()}}</small>
  </div>
  <p class="mb-1">{{transaction.description}}</p>
  <small>${{transaction.balance}}</small>
</div>

<!--<div class="tcontainer">-->
<!--  <H2>Transactions</H2>-->
<!--  <div class="transactions">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td class="transactDate">Jun 6, 2020</td>-->
<!--      <td class="transactText">Starbucks</td>-->
<!--      <td class="transactPrice">$8.65</td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->

<!--  <div class="transactions">-->
<!--    <table>-->
<!--      <tr>-->
<!--        <td class="transactDate">Jun 6, 2020</td>-->
<!--        <td class="transactText">Costco</td>-->
<!--        <td class="transactPrice">$218.34</td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->

<!--  <div class="transactions">-->
<!--    <table>-->
<!--      <tr>-->
<!--        <td class="transactDate">May 24, 2020</td>-->
<!--        <td class="transactText">Minsky's Pizza</td>-->
<!--        <td class="transactPrice">$34.16</td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->


<!--  <div class="transactions">-->
<!--    <table>-->
<!--      <tr>-->
<!--        <td class="transactDate">May 16, 2020</td>-->
<!--        <td class="transactText">Microcenter</td>-->
<!--        <td class="transactPrice">$400.67</td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->

<!--  <div class="transactions">-->
<!--    <table>-->
<!--      <tr>-->
<!--        <td class="transactDate">May 11, 2020</td>-->
<!--        <td class="transactText">McDonald's</td>-->
<!--        <td class="transactPrice">$9.13</td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->

<!--</div>-->
