.transaction {
  display: flex;
  flex-flow: row nowrap;
}

//.tcontainer {
//  margin-top: 10px;
//}
//
//.transactions {
//  margin-bottom: 5px;
//  margin-left: 50px;
//}
//
.date {
  background-color: #004b2c;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #ffffff;
  padding: 10px;
  text-transform: uppercase;

}

.desc {
  width: 360px;
  background-color: #ffffff;
  padding: 10px;
  text-align: left;

}

.amount {
  width: 100px;
  background-color: #ffffff;
  padding: 10px;
  text-align: right;

}

.icon {
  color: #ffffff;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
