<div class="d-flex flex-row align-items-center justify-content-end" role="group" aria-label="Basic example">
<!--  <mat-form-field appearance="standard" class="align-middle">
    <mat-label><mat-icon>search</mat-icon>Search</mat-label>
    <input matInput #search [(ngModel)]="searchText">
    <button mat-icon-button
            matSuffix
            aria-label="Clear"
            (click)="searchText = ''"
            *ngIf="!searchText">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>-->
  <div style="width: 75%; margin: auto; padding: 10px; text-align: right;">
  <button mat-mini-fab color="primary"
          aria-label="Create new transaction." (click)="openAddTransactionDialog()">
    <mat-icon>add</mat-icon>
  </button>
  </div>

</div>

<div class="transactions">
  <app-transaction *ngFor="let transaction of (transactions$ | async)" [transaction]="transaction">

</app-transaction>


</div>
