<div class="d-flex flex-row align-items-center justify-content-between" role="group" aria-label="Basic example">
  <mat-form-field appearance="standard" class="align-middle">
    <mat-label><mat-icon>search</mat-icon>Search</mat-label>
    <input matInput #search [(ngModel)]="searchText">
    <button mat-icon-button
            matSuffix
            aria-label="Clear"
            (click)="searchText = ''"
            *ngIf="!searchText">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-mini-fab color="primary"
          aria-label="Create new transaction." class="align-middle" (click)="openAddTransactionDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<app-transaction *ngFor="let transaction of (transactions$ | async)" [transaction]="transaction">

</app-transaction>



