<div class="container">
  <div id="welcome">
    <h2>Welcome back, {{(authService.userProfile$ | async)?.firstName}}.</h2>
  </div>

  <mat-card id="dashboard">
    <mat-tab-group animationDuration="0ms" color="primary">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>account_balance</mat-icon><span class="d-none d-md-block">Dashboard</span>
        </ng-template>
        <div class="wrap">
          <app-home-view>
            <!-- Home View injected here -->
          </app-home-view>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>list</mat-icon><span class="d-none d-md-block">Transactions</span>
        </ng-template>
        <app-transactions-view>
          <!-- Transactions View injected here -->
        </app-transactions-view>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>notifications</mat-icon><span class="d-none d-md-block">Notifications</span>
        </ng-template>
        <app-notifications-view></app-notifications-view>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
