<h2>Welcome back, customer name</h2>

<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-button color="accent" aria-label="Return to dashboard">
        <mat-icon>account_balance</mat-icon> Dashboard
      </button>
      <button mat-button color="accent" aria-label="Manage Notifications">
        <mat-icon>notifications</mat-icon> Notifications
      </button>
      <button mat-button color="accent" aria-label="Manage Transactions">
        <mat-icon>list</mat-icon> Transactions
      </button>
      <button mat-button color="accent" aria-label="Example icon button with a open in new tab icon">
        <mat-icon>settings</mat-icon> Account Settings
      </button>
    </div>
  </div>

</section>

<div id="dashboard">

  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>Account Balance</mat-grid-tile>
    <mat-grid-tile>Monthly Spending Preview</mat-grid-tile>
    <mat-grid-tile>Transaction Module</mat-grid-tile>
    <mat-grid-tile>Notification Preview</mat-grid-tile>
  </mat-grid-list>


</div>
