<div class="scontainer">
<h2>Manage Notifications</h2>
  <button mat-button color="accent" aria-label="Add New Notification">Add Notification</button>

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Shopping Category Notification
        </mat-panel-title>
        <mat-panel-description>
          Created on 07/13/2020
        </mat-panel-description>
      </mat-expansion-panel-header>
        <button mat-button color="accent" aria-label="Manage This Notification">Manage Notification</button>
        <button mat-button color="accent" aria-label="Delete This Notification">Delete Notification</button>

      <div class="note"><b>Note:</b> Alert me when a transaction is made for electronics.</div>


    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Out-of-State Notification
        </mat-panel-title>
        <mat-panel-description>
          Created on 05/25/2020
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-button color="accent" aria-label="Manage This Notification">Manage Notification</button>
      <button mat-button color="accent" aria-label="Delete This Notification">Delete Notification</button>

      <div class="note"><b>Note:</b> Alert me when a transaction is made out of state.</div>
    </mat-expansion-panel>

  </mat-accordion>

  <h2>Add Notification</h2>
</div>
