<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CommerceApp</title>
</head>
<body>
<p>Export as... <br></p>

<mat-form-field appearance="fill">
  <mat-label>File Name</mat-label>
  <label>
    <input matInput>
  </label>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label>File Type</mat-label>
  <mat-select>
    <mat-option value="option">.xlsx</mat-option>
    <mat-option value="option">.csv</mat-option>
  </mat-select>
</mat-form-field>
</body>
</html>
