.card {
  border-radius: 1px;
  height: fit-content;
  width: 40%;
  margin: 12px 8px 16px;
  padding: 15px;
  display: table-cell;
  flex-direction: row;
  justify-content: right;
  align-items: end;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.context {
  display: table;
  margin: -5px 12px -1px;
  padding: 5px;
  max-width:fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.transaction-button-container{
  display: flex;
  justify-content: center;
  width: auto;
}
mat-grid-tile{
  background: #006747;
  color: white;
}
table {
  width: 75%
}
