.scontainer {
  padding: 10px;
}


.tcontainer {
  width: 100%;

}

.type {
  min-width: 25%;
  max-width: 50%;
}

.note {
  min-width: 25%;
  max-width: 50%;
}

.date {
  min-width: 25%;
  max-width: 50%;
}


.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel { margin-top: 15px; margin-bottom: 15px; }
mat-panel-title {  font-family: 'Open Sans', sans-serif; font-size: 15px; text-align: left; width: 75%; }
mat-panel-description { text-align: right; }

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none; }

input.example-right-align {
  -moz-appearance: textfield;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
