<mat-card>
  <div class="header">
    Register
  </div>
  <mat-card-content>
    <form [formGroup]="registrationForm">
      <div class="grid">
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput
                 formControlName="last"
                 required
                 email
                 autocomplete="email"
                 placeholder="doe.john@gmail.com">
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>First Name</mat-label>
          <input matInput
                 formControlName="first"
                 required
                 type="text"
                 autocomplete="given-name"
                 placeholder="John">
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Last Name</mat-label>
          <input matInput
                 formControlName="last"
                 required
                 type="text"
                 autocomplete="family-name"
                 placeholder="Doe">
        </mat-form-field>

        <mat-form-field appearance="standard" hintLabel="Min 8 characters">
          <mat-label>Password</mat-label>
          <input matInput
                 #password
                 formControlName="password"
                 required
                 type="password"
                 autocomplete="new-password">
          <mat-hint align="end">{{password.value?.length || 0}}/8</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="standard" hintLabel="Min 8 characters">
          <mat-label>Confirm Password</mat-label>
          <input matInput
                 #confirm
                 formControlName="confirmPassword"
                 required
                 type="password"
                 autocomplete="new-password">
          <mat-hint align="end">{{confirm.value?.length || 0}}/8</mat-hint>
        </mat-form-field>
      </div>

<!--      <mat-error *ngIf="registrationForm.controls.email.invalid"></mat-error>-->
    </form>
  </mat-card-content>
</mat-card>
