mat-card {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field {
  width: 100%;
}

//.grid {
//  display: grid;
//  grid-template-columns: auto auto;
//  grid-template-rows: auto auto auto;
//  column-gap: 20px;
//  row-gap: 10px;
//}
//
//.span {
//  grid-column: 1 / span 2;
//}
