<body class="center">
<mat-card>
  <div class="header">
    <h2>Register</h2>
  </div>
  <mat-card-content>
    <form [formGroup]="registrationForm" (ngSubmit)="register(registrationForm.value)">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email"
               autocomplete="email"
               placeholder="doe.john@gmail.com"
               required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput
               formControlName="firstName"
               type="text"
               autocomplete="given-name"
               placeholder="John"
               required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput
               formControlName="lastName"
               type="text"
               autocomplete="family-name"
               placeholder="Doe"
               required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
               #password
               formControlName="password"
               type="password"
               autocomplete="new-password"
               required>
        <mat-hint align="end">{{password.value?.length || 0}}/8</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput
               formControlName="confirmPassword"
               type="password"
               autocomplete="new-password"
               required>
      </mat-form-field>

      <div>
        <button class="btn" type="submit" [disabled]="!registrationForm.valid" mat-raised-button color="primary">SUBMIT</button>
      </div>
      <!--      <mat-error *ngIf="registrationForm.controls.email.invalid"></mat-error>-->
    </form>
  </mat-card-content>
  Already have an account? <a routerLink="/login" routerLinkActive="active"> Sign in </a>

</mat-card>
</body>
